.navbg{
    background-color: #000000;
}
.navbar  {
    font-size: 22px;
}
.logo {
    /* padding: 15px 0; */
    width: 150px;
    cursor: pointer;
}

.enunciado {
    font-size: 20px;
}